@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
a {text-decoration: none;}
ul {list-style: none;}
button {cursor: pointer;}

#warp {
    width: 800px;
    height: 900px;
    margin: auto;
    margin-top: 30px;
}

/* 타이틀 */
#header {
    width: 100%;
    height: 10%;
    background-color: rgb(58, 58, 58);
    border:12px solid rgb(251, 197, 73);
    border-style:dotted;
    box-sizing: border-box;
    border-radius: 7px;
}
h2 {
    font-size: 40px;
    text-align: center;
    line-height: 180%;
    color: aliceblue;
}

/* 구매 아이템 */
#itemList {
    width: 150px;
    height: 600px;
    position: absolute;
    top: 60px;
    left: 0px;
    border-radius: 20px;
    border: 4px solid black;
    box-sizing: border-box;
    background-color: rgba(255, 244, 244, 0.639);
    z-index: 55;
    visibility: hidden;
}

/* 자판기 본체 */
#main {
    width: 100%;
    height: 75%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vendingBody{
    width: 75%;
    height: 90%;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: rgb(255, 244, 224);
}

/* 자판기 상단 */
.bodyTop {
    width: 100%;
    height: 55%;
    border-radius: 10px;
    border: 4px solid black;
    box-sizing: border-box;
    overflow: hidden;
}
.itemBox {
    width: 25%;
    height: 50%;
    float: left;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(212, 196, 196);
}
.itemImg {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}
.soldOut {
    width: 70px;
    height: 20px;
    background-color: #ff0000b6;
    color: #fff;
    font-weight: bold;
    transform: rotate(25deg);
    position: absolute;
    text-align: center;
    top: 45px;
    left: 35px;
    opacity:0;
}
.price{
    width: 50px;
    height: 20px;
    background-color: antiquewhite;
    border: 2px solid black;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    bottom: 45px;
    right: 5px;
    font-weight: bold;
}
.itemImg img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 3px solid black;
    box-sizing: border-box;
}
.itemBtn{
    width: 85%;
    height: 21%;
    margin: auto;
    font-weight: bold;
    display: block;
    border-radius: 10px;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: rgb(253, 233, 209);
}
.itemBtn:hover {
    background-color: rgb(210, 185, 154);
}

/* 자판기 하단 */
.bodyBottom {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.getItem {
    width: 70%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.totalCoin {
    width: 70%;
    height: 35%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: rgb(58, 58, 58);
}
.total{
    color: #ffb134;
    font-size: 45px;
    float: right;
}
.fromItem {
    width: 100%;
    height: 50%;
    margin-top: 8%;
    border-radius: 10px;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: rgb(236, 200, 200);
}

.coinBox {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.coinEnt {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: rgb(255, 228, 196);
    display: flex;
}
.inCoin {
    width: 15px;
    height: 80%;
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    border: 3px solid black;
    box-sizing: border-box;
    margin: auto;
}

.coinEnt:hover {
    background-color: rgb(255, 214, 161);
}
.coinPop{
    width: 400px;
    background-color: rgba(103, 103, 103, 0.803);
    position: absolute;
    right: 0px;
    z-index: 55;
    visibility: hidden;
}

.coinExit {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 25px;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: rgb(203, 186, 186);
}
.coinExit:hover {
    background-color: rgb(182, 164, 164);
}


/* 지갑 */
#footer {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 20px;
    border: 4px solid black;
    box-sizing: border-box;
    background-color: rgb(220, 242, 243);
}
.footerBox{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 35px;
    color: #000;
    text-align: center;
    line-height: 80px;
}

.footerBox:hover {
    background-color: #f8e1d6;
}
.walletOpen {
    width: 570px;
    height: 80px;
    background-color: rgb(222, 255, 244);
    visibility: hidden;
}

.coinOpen{
    padding: 15px;
    border-radius: 20px;
    border: 3px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.coin {
    width: 60px;
    height: 60px;
    line-height: 57px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 204, 110);
    border-radius: 50%;
    border: 3px solid black;
    box-sizing: border-box;
}
.coin:hover {
    background-color: rgb(255, 221, 158);
}
.coinSum {
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}